<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<beans:bean id="datasource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<beans:property name="url" value="jdbc:mysql://localhost:3306/sakila?useSSL=false" />
		<beans:property name="username" value="root" />
		<beans:property name="password" value="root" />
	</beans:bean>
	
	<http authentication-manager-ref="authManager">
		<intercept-url pattern="/books" access="hasAuthority('BOOK_ADMIN')" />
		<intercept-url pattern="/saveBook" access="hasAuthority('BOOK_ADMIN')" />
		<intercept-url pattern="/deleteBook" access="hasAuthority('BOOK_ADMIN')" />
		<intercept-url pattern="/searchBook" access="hasAuthority('BOOK_ADMIN')" />
		<intercept-url pattern="/subjects" access="hasAuthority('SUBJECT_ADMIN')" />
		<intercept-url pattern="/saveSubject" access="hasAuthority('SUBJECT_ADMIN')" />
		<intercept-url pattern="/deleteSubject" access="hasAuthority('SUBJECT_ADMIN')" />
		<intercept-url pattern="/searchSubject" access="hasAuthority('SUBJECT_ADMIN')" />
		<intercept-url pattern="/" access="hasAnyAuthority('BOOK_ADMIN','SUBJECT_ADMIN')" />
		<form-login login-page="/login"/>
		<access-denied-handler error-page="/accessDenied" />
		
		
		<!-- enable csrf protection -->
		<csrf disabled="true"/>
	</http>
	
	<authentication-manager id="authManager">
	  <authentication-provider>
	  	<jdbc-user-service data-source-ref="datasource" 
	  		users-by-username-query="select username, password, enabled from users where username=?"
	  		authorities-by-username-query="select username, authority from authorities where username=?"
	  	/>	  		
	  	<!-- 
	  	<user-service>
	    
		<user name="mkyong" password="123456" authorities="ROLE_USER" />
		<user name="sourav" password="123456" authorities="ROLE_ADMIN" />
	    </user-service>
	  	 -->	    
	  </authentication-provider>
	</authentication-manager>
 	
</beans:beans>